/* CARD INTRO */
.intro__title{
    color: var(--imp-light-blue);
    font-size: xx-large;
}
.intro__text{
    font-size: x-large;
    font-family: 'vcr_osd_monoregular', Arial, Helvetica, sans-serif;
}

/* CARDS EL JUEGO Y EL CONTENIDO */
.card{
    color: var(--imp-white);
    font-family: 'vcr_osd_monoregular', Arial, Helvetica, sans-serif;
}
.card__title{
    color: var(--imp-yellow);
    font-size: x-large;
}

/* CARD REDES */
.redes__title, .redes__text{
    color: var(--imp-white);
    font-size: x-large;
}
.redes__text{
    font-family: 'vcr_osd_monoregular', Arial, Helvetica, sans-serif;
}
.redes__list{
    list-style-type: none;
}
.redes__item:first-child{
    background: url('./../assets/img/fb.jpg') no-repeat center;
    width: 38px;
    height: 42px;
    text-indent: -10000px;
}
.redes__item:last-child{
    background: url('./../assets/img/ig.jpg') no-repeat center;
    width: 38px;
    height: 42px;
    text-indent: -10000px;
}
.redes__item:hover{
    cursor: pointer;
}
@media screen and (max-width: 992px){
    .intro__title{
        font-size: xx-large;
    }
    .intro__text{
        font-size: x-large;
    }
}
/* TITULO "EL JUEGO DE MESA" EXTRA LARGE */
@media screen and (min-width: 1200px){
    .intro__title{
        font-size: xxx-large;
    }
}