:root {
    /*Colors*/
    --imp-light-blue: #14FBDF;
    --imp-green: #75FA41;
    --imp-yellow: #FBE414;
    --imp-black: #000000;
    --imp-white: #FFFFFF;
    --imp-red: #FB1414;
    --imp-grey: #989898;
    --imp-grey-blue: #9BACC0;
  }

/*Fonts*/
@font-face {
  font-family: 'vcr_osd_monoregular';
  src: url('../assets/fonts/vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
        url('../assets/fonts/vcr_osd_mono_1.001-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Amatic SC';
  src: url('../assets/fonts/AmaticSC-Bold.woff2') format('woff2'),
      url('../assets/fonts/AmaticSC-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*General*/
h1 {
  font-family: 'vcr_osd_monoregular';
  color: var(--imp-light-blue);
  font-size: x-large;
}
h2 {
  font-family: 'vcr_osd_monoregular';
  color: var(--imp-white);
  font-size: medium;
}
h3 {
  font-family: 'vcr_osd_monoregular';
  color: var(--imp-yellow);
  font-size: large;
}
h4 {
  color: var(--imp-white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}
body {
  font-family: 'Amatic SC';
  color: var(--imp-green);
}

/*Buttons*/
.imp-button {
  background-color: var(--imp-black);
  border-radius: 10px;
  border-width: 3px;
  color: var(--imp-white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}
.imp-button:hover {
  background-color: var(--imp-white);
  border: 3px solid var(--imp-black);
  outline: 5px solid var(--imp-black);
  color: var(--imp-black);
}
.imp-button-desktop {
  width: 309px;
}
.imp-button-mobile {
  width: 100%;
}
.imp-button-outstanding {
  border-color: var(--imp-green);
}
.imp-button-common {
  border-color: var(--imp-white);
}

/*Navbar*/
.bg-dark {
  background-color: var(--imp-black) !important;
}
.navbar-toggler-icon {
  width: 2.5em;
  height: 2.5em;
}
.navbar-dark [aria-expanded="true"] .navbar-toggler-icon {
  background-image: url("../assets/icons/imp-times.png");
}
.navbar-dark .navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
  background-image: url("../assets/icons/imp-hamburguer.png");
}
.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: var(--imp-white) !important;
}
.active .nav-link {
  color: var(--imp-light-blue) !important;
}

/*Home*/
/*Central content*/
#imp-bg-stars {
  background-image: url("../assets/img/imp-space.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  background-color: transparent !important;
}
#central-content-card {
  width: 24rem;
}
#imp-img-desktop {
  width: 100%;
}
/*Product cards*/
.card-products {

  border-radius: 10px;
  border-width: 3px;
  border: 3px solid var(--imp-white); 
  
  
}
.card-img-top {
  height: 24rem;
}
.card-text {
  color: var(--imp-white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

/*Seccion redes*/

.logo-medium {

  width: 220px;
  text-align: center;
  justify-content: center;
}

.logo-instagram {

  width: 38px;
  height: 36px;
}

.logo-mobile {

  width: 200px;
  text-align: center;
  justify-content: center;
}

.instagram-mobile {

  text-align: center;
  align-content: center;

}

/*Sección feedback*/

.feedback {

  width: 100%;
  height: 490px;
  background-color: #9BACC0;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.input-group {

  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

 
}

.input-feedback {

  width: 309px;
  height: 44px;
  border-radius: 10px;
  text-align: center;
  border: solid;

}

.feddback-title {

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 22px 0px;
  width: 340px;
  height: 56px;
}

.boton-enviar {

  background-color: #000000;
  border: 3px solid #75FA41;
  box-sizing: border-box;
  border-radius: 10px;
}
