:root {
    /*Colors*/
    --imp-light-blue: #14FBDF;
    --imp-green: #75FA41;
    --imp-yellow: #FBE414;
    --imp-black: #000000;
    --imp-white: #FFFFFF;
    --imp-red: #FB1414;
    --imp-grey: #989898;
    --imp-grey-blue: #9BACC0;
    --landing-bg-blue: #3590F3;
    --landing-bg-pink: #ffb3b3;
    --landing-orange: #FF7606;
  }

/*Fonts*/
@font-face {
  font-family: 'vcr_osd_monoregular';
  src: url('../assets/fonts/vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
        url('../assets/fonts/vcr_osd_mono_1.001-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Amatic SC';
  src: url('../assets/fonts/AmaticSC-Bold.woff2') format('woff2'),
      url('../assets/fonts/AmaticSC-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

/*General*/
h1 {
  font-family: 'vcr_osd_monoregular';
  color: var(--imp-light-blue);
  font-size: x-large;
}
h2 {
  font-family: 'vcr_osd_monoregular';
  color: var(--imp-white);
  font-size: medium;
}
h3 {
  font-family: 'vcr_osd_monoregular';
  color: var(--imp-yellow);
  font-size: large;
}
h4 {
  color: var(--imp-white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}
body {
  font-family: 'Amatic SC';
  color: var(--imp-green);
}

/*Buttons*/
.imp-button {
  background-color: var(--imp-black);
  border-radius: 10px;
  border-width: 3px;
  color: var(--imp-white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}
.imp-button:hover {
  background-color: var(--imp-white);
  border: 3px solid var(--imp-black);
  color: var(--imp-black);
}
.imp-button-desktop {
  width: 309px;
}
.imp-button-mobile {
  width: 100%;
}
.imp-button-outstanding {
  border-color: var(--imp-green);
}
.imp-button-common {
  border-color: var(--imp-white);
}

/*Navbar*/
.bg-dark {
  background-color: var(--imp-black) !important;
}
.navbar-toggler-icon {
  width: 2.5em;
  height: 2.5em;
}
.navbar-dark [aria-expanded="true"] .navbar-toggler-icon {
  background-image: url("../assets/icons/imp-times.png");
}
.navbar-dark .navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
  background-image: url("../assets/icons/imp-hamburguer.png");
}
.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: var(--imp-white) !important;
}
.active .nav-link {
  color: var(--imp-light-blue) !important;
}
@media screen and (min-width: 992px) {
  .nav-link:hover {
    color: var(--imp-yellow) !important;
  }
}
@media screen and (max-width: 992px) {
  .nav-link {
    font-family: 'vcr_osd_monoregular';
    font-size: x-large;
  }
  .navbar-nav {
    justify-content: space-evenly;
    height: 93vh;
  }
}

/*Home*/
/*Central content*/
#imp-bg-stars {
  background-image: url("../assets/img/imp-space.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  background-color: transparent !important;
}
#central-content-card {
  width: 24rem;
}
#imp-img-desktop {
  width: 100%;
}
/*Product cards*/
.card-text {
  color: var(--imp-white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.card-products {
  border-radius: 10px;
  border-width: 3px;
  border: 3px solid var(--imp-white);
}

/*Seccion redes*/
.logo-medium {
  width: 220px;
  text-align: center;
  justify-content: center;
}
.logo-instagram {
  width: 38px;
}
.logo-mobile {
  width: 200px;
  text-align: center;
  justify-content: center;
}
.instagram-mobile {
  text-align: center;
  align-content: center;
}

/*Sección feedback*/
.feedback {
  width: 100%;
  height: 400px;
  background-color: #9BACC0;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.input-group {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-feedback {
  width: 309px;
  height: 44px;
  border-radius: 10px;
  text-align: center;
  border: solid;
}

/*Footer*/
footer {
  height: 82px;
  display: flex;
  align-items: center;
  background-color: var(--imp-white);
  color: var(--imp-black);
}
.logo-behance {
  margin-left: 20px;
}
.titulo-footer {
  font-family: 'vcr_osd_monoregular';
  font-size: 18px;
  color: var(--imp-black);
}
.subtitulo-footer{
  font-family: Arial;
  font-size: 13px;
}

/* Landing Page */
.bg-pink{
  background-color: var(--landing-bg-pink) !important;
}
.button-position{
  position: absolute;
  top: 0;
  right: 0;
}
.navbar-brand .landing-title{
  font-size: 30px;
}
.landing-title{
  font-family: 'Walter Turncoat', cursive;
  color: var(--imp-black);
  font-size: 96px;
}
.landing-title-sub{
  font: 64px 'Arial';
}
.landing-text{
  font-family: 'Walter Turncoat', cursive;
}
.bg-pink .navbar [aria-expanded="true"] .navbar-toggler-icon {
  background-image: url("../assets/icons/imp-times-black.png");
}
.bg-pink .navbar .navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
  background-image: url("../assets/icons/imp-hamburguer-black.png");
}
.landing-text{
  color: var(--imp-black);
  font-size: xx-large;
}
.nav-landing{
  color: var(--imp-black) !important;
}
.nav-landing:hover{
  color: var(--imp-white) !important;
}
.container-derecha{
  background-image: url("../assets/img/fondo\ compra\ derecha.png");
}
.container-izquierda{
  background-color: #3590F3;
}
.left-text{
  font-size: 40px;
  line-height: 56px;
  font-family: 'Walter Turncoat', cursive;
  -webkit-text-stroke: 1px black;
}
.titulo-derecha {
  color: #FBE414;
  font-family: 'Amatic SC';
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}
.btn-conoce{
  background-color: #FF7606;
  border-radius: 8px;
  color: white;
  font-family: 'Walter Turncoat', cursive;
}

/* Form landing*/
#contacto{
  font-family: 'Walter Turncoat', cursive;
}
.container-form {
  background-color: #FFFFFF;
}
.comunicate {
  font-family: 'Walter Turncoat', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
  color: #000000;
}
.u-wrapper {
  max-inline-size: 1232px;
  margin: 0 auto;
  padding: 0 1em;
}
.input-form{
  background-color: #F2F2F2 !important;
}
.form input, .form textarea {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: .8em;
  border-radius: .5em;
  border: 1px solid #858C94;
}
.contact {
  margin-block-end: 5em;
}
.form textarea {
  margin-block-end: 2em;
  font-family: inherit;
}
.form label {
  display: block;
  margin-block-start: 1em;
  margin-block-end: .5em;
  padding-inline-start: .5em;
}
.form {
  max-inline-size: 350px;
  margin: auto;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 992px) {
  .nav-link:hover {
    color: var(--imp-white) !important;
  }
}
@media screen and (max-width: 992px){
  #contacto{
    background-color: var(--imp-white) !important;
  }
  .left-text{
    font-size: 20px;
    -webkit-text-stroke: 0.5px black;
  }
}
