:root {
    /*Colors*/
    --imp-light-blue: #14FBDF;
    --imp-green: #75FA41;
    --imp-yellow: #FBE414;
    --imp-black: #000000;
    --imp-white: #FFFFFF;
    --imp-red: #FB1414;
    --imp-grey: #989898;
    --imp-grey-blue: #9BACC0;
    
  }

body {
    background-color: var(--imp-black);
}