<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    <meta name="description" content="Sección Home de Among Us Juego de Mesa">
    <meta name="keywords"  content="AMONGUS, AMONG, US, JUEGO, MESA, BOARD, GAME, BOARDGAME, REGALO, CUMPLEAÑOS">
    <title>Among Us | El juego</title>
    <link rel="icon" href="../assets/icons/imp-favico.png" type="image/png" sizes="16x16">
    <!--Boostrap 4 CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../../css/eljuego.css">
</head>
<body class="bg-dark">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/index.html">
          <img src="../assets/img/logo-horizontal.png" height="55" alt="Logo de Among Us Juego de Mesa">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link text-uppercase text-center" href="/index.html">Inicio <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link text-uppercase text-center" href="./views/elJuego.html">El juego</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-uppercase text-center" href="#">Acerca de</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="container m-auto row d-lg-flex flex-lg-row flex-column align-items-center">
            <div class="col-lg-6 order-lg-1 order-2 text-center card align-items-center mt-4">
                <h1 class="intro__title">EL JUEGO DE MESA</h1>
                <h2 class="intro__text pb-4">PARA SALIR DE TU CELULAR Y JUGAR CON TUS CONOCIDOS EN PARTIDAS DE UNA HORA</h2>
                <a href="https://articulo.mercadolibre.com.ar/MLA-1103099739-juego-de-mesa-among-us-10-munecos-3d-se-abren-a-la-mitad-_JM">
                  <button type="button" class="btn btn-light btn-lg imp-button imp-button-desktop imp-button-outstanding md-6 mb-2">Comprar</button>
                </a>
              </div>
            <div class="col-lg-6 order-lg-2 order-1 text-center intro">
                <img src="./../assets/img/imp-box-1.png" alt="juego de mesa Among Us" class="img-fluid mt-3">
            </div>
        </div>
        <div class="container m-auto flex-lg-row flex-column row d-lg-flex align-items-top align-content-center">
            <div class="col-lg-6 p-5 text-center card align-items-center">
                <h2 class="card__title mb-5">El juego</h2>
                <img src="./../assets/img/imp-box-1.png" alt="juego de mesa Among Us" class="card__img img-fluid mb-4">
                <p class="card__text">¡Alerta, hay un impostor entre nosotros!</p>
                <p class="card__text">Estas en la nave espacial [nombre] junto a otros participantes. ¡Pero cuidado!. Uno de ustedes es el impostor e intentara de cualquier manera quitar del medio al resto de la tripulacion.</p>
                <p class="card__text">¿Podran detenerlo?</p>
                <p class="card__text">Necesitarás un dado, diez figuras 3D de cada AmongUs y un mazo de cartas. Usando estas herramientas y siguiendo las reglas de juego, podrás guiar a tus tripulantes a cumplir misiones o a los impostores a aniquilarlos.</p>
                <p class="card__text">¿Estas listo para llevar a cabo tu mision?</p>
            </div>
            <div class="col-lg-6 p-5 card align-items-center">
                <h2 class="card__title mb-5">El contenido</h2>
                <img src="./../assets/img/imp-box-1.png" alt="juego de mesa Among Us" class="card__img img-fluid mb-4">
                <p class="card__text">El box de “Among us: El juego de mesa” esta compuesto por:</p>
                <ul class="card__list">
                    <li class="card__item">10 figuras desarmables de tripulantes</li>
                    <li class="card__item">Un boton de “¡Alerta!”</li>
                    <li class="card__item">Un tablero</li>
                    <li class="card__item">Un folleto con las instrucciones</li>
                    <li class="card__item">Un dado</li>
                </ul>
            </div>
        </div>
        <div class="container redes">
            <div class="row row-cols-8 p-3">
                <button class="intro__button col-md-4 m-auto btn btn-primary btn-lg imp-button imp-button-desktop imp-button-outstanding mb-2">COMPRAR</button>
                <h2 class="redes__title col-12 text-center pt-5">¿Querés saber más?</h2>
                <p class="redes__text col-12 text-center">¡Seguinos en las redes!</p>
                <img src="./../assets/img/among_us_title.jpg" alt="juego de mesa Among Us" class="redes__img m-auto">
                <ul class="redes__list d-flex justify-content-center col-12 text-center">
                    <li class="redes__item mr-3">
                        <a class="redes__link" href="#">Facebook
                            <span class="redes__span"></span>
                        </a>
                        </li>
                    <li class="redes__item ml-3">
                        <a class="redes__link" href="#">Instagram
                            <span class="redes__span"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--Boostrap 4 JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!--JS-->
    <script src="../js/script.js"></script>
</body>
</html>