<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    <meta name="description" content="Sección Home de Among Us Juego de Mesa">
    <meta name="keywords"  content="AMONGUS, AMONG, US, JUEGO, MESA, BOARD, GAME, BOARDGAME, REGALO, CUMPLEAÑOS">
    <title>Among Us | El juego</title>
    <link rel="icon" href="../assets/icons/imp-favico.png" type="image/png" sizes="16x16">
    <!--Boostrap 4 CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="bg-dark">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/index.html">
          <img src="../assets/img/logo-horizontal.png" height="55" alt="Logo de Among Us Juego de Mesa">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link text-uppercase text-center" href="/index.html">Inicio <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link text-uppercase text-center" href="./views/elJuego.html">El juego</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-uppercase text-center" href="./huronGames.html">Acerca de</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="container-fluid">
      <div class="container m-auto row d-lg-flex flex-lg-row flex-column align-items-center">
        <div class="col-md-6 order-lg-1 order-2 text-center card align-items-center mt-4">
          <h1>EL JUEGO DE MESA</h1>
          <h2 class="pb-4">PARA SALIR DE TU CELULAR Y JUGAR CON TUS CONOCIDOS EN PARTIDAS DE UNA HORA</h2>
          <a href="https://articulo.mercadolibre.com.ar/MLA-1103099739-juego-de-mesa-among-us-10-munecos-3d-se-abren-a-la-mitad-_JM">
            <button type="button" class="btn btn-light btn-lg imp-button imp-button-desktop imp-button-outstanding md-6 mb-2">Comprar</button>
          </a>
        </div>
        <div class="col-md-6 order-lg-2 order-1 text-center intro">
            <img src="../assets/img/imp-together.png" alt="juego de mesa Among Us" class="img-fluid mt-3">
        </div>
      </div>
      <div class="container m-auto flex-lg-row flex-column row d-lg-flex align-items-top align-content-center">
        <div class="col-md-6 p-5 text-center card align-items-center">
          <h3 class="text-center">El juego</h3>
          <img src="../assets/img/imp-box-1.png" alt="juego de mesa Among Us" class="img-fluid mb-4">
          <h2 class="text-left">¡Alerta, hay un impostor entre nosotros! Estás en la nave espacial The Skeld junto a otros participantes. ¡Pero cuidado! Uno de ustedes es el impostor e intentará quitar del medio al resto de la tripulacion. ¿Podran detenerlo? Necesitarás dados, muñecos Among Us 3D y cartas. Siguiendo las reglas de juego, podrás guiar a tus Tripulantes a cumplir misiones, o al Impostor a aniquilarlos. ¿Estas listo para llevar a cabo tu misión?</h2>
        </div>
        <div class="col-md-6 p-5 card align-items-center">
          <h3 class="text-center">El contenido</h3>
          <img src="../assets/img/imp-content.png" alt="juego de mesa Among Us" class="img-fluid mb-4">
          <h2 class="text-left">El box de “Among Us: El juego de mesa” esta compuesto por:
            <ul>
              <li>10 muñecos 3D Among Us desarmables</li>
              <li>Un tablero</li>
              <li>Un folleto con las instrucciones</li>
              <li>Dados</li>
            </ul>
          </h2>
        </div>
      </div>
      <div class="container text-center">
        <a href="https://articulo.mercadolibre.com.ar/MLA-1103099739-juego-de-mesa-among-us-10-munecos-3d-se-abren-a-la-mitad-_JM">
          <button type="button" class="btn btn-primary btn-lg imp-button imp-button-desktop imp-button-outstanding mb-2">Comprar</button>
        </a>
      </div>
      <!--Seccion Instagram-->
      <div class="container pt-4 pb-4">
        <div class="row text-center">
          <div class="col-12 pb-2">
            <img class="logo-medium" src="../assets/img/logo-horizontal.png" alt="amongus-juego-de-mesa-logo">
          </div>  
          <div class="col-12">
            <img class="logo-instagram" src="../assets/img/instagram.png" alt="intagram-logo">
          </div> 
        </div>
      </div>    
    </div>

    <footer>
      <div class="container align-middle">
        <div class="row align-items-center ">
          <div class="col-3 col-md-1">
            <img width="100%" src="../assets/img/huron-games-logo.png">
          </div>
          <div class="col-3 col-md-3 text-left">
            <h3 class="titulo-footer">Húron Games</h3>
            <h5 class="subtitulo-footer d-none d-md-block">Hurlingham, Buenos Aires, Argentina.</h5>
          </div>
          <div class="col-6 text-right">
            <img src="../assets/img/linkedin.png">
            <img class="logo-behance" src="../assets/img/behance.png">
          </div>
        </div>
      </div>
    </footer>

    <!--Boostrap 4 JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!--JS-->
    <script src="../js/script.js"></script>
</body>
</html>