<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    <meta name="description" content="Sección Home de Among Us Juego de Mesa">
    <meta name="keywords"  content="AMONGUS, AMONG, US, JUEGO, MESA, BOARD, GAME, BOARDGAME, REGALO, CUMPLEAÑOS">
    <title>Among Us | El juego</title>
    <link rel="icon" href="../assets/img/huron-games-logo.png" type="image/png" sizes="16x16">
    <!--Boostrap 4 CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="bg-pink">
    <header>
        <nav class="navbar navbar-dark navbar-expand-lg">
            <div class="container d-flex flex-nowrap">
                <a class="navbar-brand m-0 text-center" href="./huronGames.html">
                    <img src="../assets/img/huron-games-logo.png" height="31px" alt="Logo de Hurón Games" class="d-none d-lg-inline-block">
                    <span class="landing-title d-lg-none d-md-inline-block">HÚRON GAMES</span>
                </a>
                <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link nav-landing text-center text-body" href="#huron">¿Quiénes somos?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-landing text-center" href="#amongus">Juego Among Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-landing text-center" href="#contacto">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div id="huron" class="container-fluid">
            <div class="container mt-5 p-md-5">
                <div class="row align-items-center m-auto">
                    <div class="col-lg-6 col-md-12 col-sm-12 d-none d-lg-inline-block">
                        <h1 class="landing-title text-center">Hurón <span class="landing-title-sub">GAMES</span></h1>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <img class="img-fluid" src="../assets/img/huron-games-logo.png" alt="Logo de Hurón Games">
                    </div>
                </div>
            </div>
            <div class="container mt-5 mb-5">
                <div class="row align-items-top m-auto">
                    <div class="col-lg-6 col-md-12 col-sm-12 p-5">
                        <h2 class="landing-text text-left">Somos una empresa joven que va a convertir las reuniones sociales en alucinantes partidas de juegos de mesa.</h2>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 p-5">
                        <h2 class="landing-text text-left">Nuestra mision es llevar los juegos más populares de plataformas digitales, a un tablero</h2>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div id="amongus" class="cointainer-fluid">
        <div class="row col-12 m-0 p-0">
            <div class="col-lg-6 col-md-12 col-sm-12 container-izquierda">
                <div class="section-games1">
                    <div class="container-fluid">
                        <div class="container mt-5">
                            <div class="row align-items-center justify-content-center text-center m-auto">   
                                <div class="col-lg-12 text-left col-md-12 col-sm-12 mt-5 mb-5">
                                    <h2 class="left-text pl-4">VISITÁ NUESTRA TIENDA ONLINE Y ADQUIRÍ EL NUEVO JUEGO.</h2>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 mt-5 mb-5 d-none d-lg-inline-block">
                                    <img class="img-fluid" src="../assets/img/WhatsApp Image 2021-09-23 at 14.26.16.png" alt="Box1">
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 mt-5 mb-5 d-none d-lg-inline-block">
                                    <a href="../index.html">
                                        <button type="button" class="btn btn-conoce btn-lg imp-button imp-button-mobile mb-2 pb-3 pt-3">Conocé más</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 container-derecha">
                <div class="section-games1">
                    <div class="container-fluid">
                        <div class="container mt-5">
                            <div class="row align-items-center text-center m-auto">   
                                <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
                                    <img class="img-fluid" src="../assets/img/logo 2.png" alt="Logo2">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <h2 class="titulo-derecha">JUEGO DE MESA</h2>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 mt-5 mb-5">
                                    <img class="img-fluid" src="../assets/img/box 1.png" alt="Box1">
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
       
    <div id="contacto" class="container col-12 p-0 m-0">
        <div class="col-12 mt-lg-5 mb-lg-5 m-0 p-0 row text-center justify-content-center align-items-center">
            <div class="container-form p-5">
                <div class="row text-center p-3 justify-content-center align-items-center">
                    <h2 class="comunicate">¡Comunicate con nosotros!</h2>
                </div>
                <div class="row pl-3 pr-3">
                    <label for="exampleFormControlTextarea1" class="form-label text-dark text-left align-items-left">Nombre</label>
                    <textarea placeholder="Tu nombre" class="form-control input-form border-0 p-3" id="exampleFormControlTextarea1" rows="1"></textarea>
                </div>
                <div class="row pl-3 pr-3">
                    <label for="exampleFormControlTextarea1" class="form-label text-dark text-left align-items-left">Correo electrónico</label>
                    <textarea placeholder="mail@ejemplo.com" class="form-control input-form border-0 p-3" id="exampleFormControlTextarea1" rows="1"></textarea>
                </div>
                <div class="row pl-3 pr-3">
                    <label for="exampleFormControlTextarea1" class="form-label text-dark text-left align-items-left">Mensaje</label>
                    <textarea placeholder="¡Acá va tu mensaje!" class="form-control input-form border-0 p-3" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="row col-12 m-0 p-0">
                    <button type="button" class="btn btn-conoce btn-md imp-button imp-button-mobile w-100 pt-3 pb-3 btn-enviar mt-4">Enviar</button>
                </div>
                
            </div>
        </div>
    </div>

</form>




    <footer>
        <div class="container p-3 p-lg-0">
            <div class="col-12 d-flex row align-items-center">
                <div class="col-sm-1 col-2 p-0 p-lg-2">
                    <img class="img-fluid p-xl-2" src="../assets/img/huron-games-logo.png">
                </div>
                <div class="col-sm-11 col-10 text-left">
                    <h3 class="titulo-footer">Húron Games</h3>
                    <h5 class="subtitulo-footer m-0">Hurlingham, Buenos Aires, Argentina.</h5>
                </div>
            </div>
        </div>
    </footer>
       
        <!--Boostrap 4 JS-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <!--JS-->
        <script src="../js/script.js"></script>
</body>
</html>